.header {
  position: absolute;
  z-index: 10;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  width: 2660px;
  height: 132px;
  border-radius: 32px 32px 0 0;
  box-sizing: border-box;
  padding-left: 72px;
  top: 303px;
  right: 219px;
}
